.shop-btn:hover .shop-drop {
	display: block;
	width: 1400px;
	padding: 0px;
}

.shop-drop {
	display: none;
	position: absolute;
	background-color: white;
	width: 1400px;
	margin-left: -550px;
	z-index: 999;
	padding: 0px;
}

.youtube-small {
	display: none;
}

.youtube-vedio {
	display: block;
	/* margin: "100px 50px 10px 100px" */
}

.category-demo {
	display: "flex";
	flex-direction: "columns";
	height: "550px";
}

.about-vid {
	display: block;
}

.about-vid-responsive {
	display: none;
}


.img {
	width: 500px;
	height: 700px;
	margin-left: 30%;
	margin-top: 100px;
}



@media only screen and (max-width: 400px) {

	.shop-btn:hover .shop-drop {
		width: 330px;
		display: block;
		margin-left: -20px;

	}

	.navbar-div {
		width: 300px;
	}



	.shop-drop {
		display: none;
		position: absolute;
		background-color: white;
		width: 330px;
		z-index: 9999;
		box-shadow: 2px 2px 3px black;
	}


	.category-demo {
		display: "flex";
		flex-direction: "column";
		justify-content: "space-around";
		margin: 0px;
		width: 200px;
	}

	.category-div {
		display: flex;
		flex-direction: row;
		font-size: 10px;
		width: 50px;
		margin: 0px;
	}

	.category-div {
		width: 50px;
	}


	.category-img {
		display: none;
	}

	.category-category {
		width: 100px;
	}


	.youtube-vedio {
		display: none;
	}

	.youtube-small {
		display: block;
	}

	.about-vid {
		display: none;
	}

	.about-vid-responsive {
		display: block;
	}

	.img {
		width: 200px;
		height: 300px;
		/* margin-left: 30%; */
		margin-top: 100px;
	}


}